/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
    background-color: #fff;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /*start header */
  header{
 background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url(../images/header.jpeg);
 background-position:50% 50%;
 min-height: 100vh;
 padding-top: 10px;
 background-repeat: no-repeat;
 background-size: cover;

  }
 
  header .container{
    position: relative;
}
 header .container .info{
    position: absolute;
 }
 header .container .info h1{
 color:#a68053;
 font-weight: bold;
 font-size: 80px;
 line-height: 1.1;
 width: 560px;
 padding-top: 30px;
 }
 @media (max-width: 768px) {
    header .container .info h1 {
        font-size: 55px;
        width: 250px;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 20px;
    }
  }
 header .container .info p{
    color: #808080;
    width: 650px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
 }
 @media (max-width: 768px) {
    header .container .info p {
     font-size: 17px;
     width: 200px;
    
     margin-bottom: 50px;
     margin-left: 20px;
    }
  }
 header .container .info .btn{
    border: 2px solid #a68053;
    border-radius: 50px;
    padding: 13px;
    color: #808080;
    font-size: 18px;
    margin-top:50px;
    width: 25%;
 }
 header .container .info .btn:hover{
    background-color: #a68053;
    color: white;
 }
 @media (max-width: 768px) {
    header .container .info .btn {
     font-size: 17px;
     width: 50%;
     margin-top: 40px;
     margin-left: 20px;
     background-color: #a68053;
    color: white;
    }
  }
  /*end header */
  /*start features */
  .features{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(0,0,0,0.05);
  }
  .features .container{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 grid-gap: 20px;
  }
  .features .container .feat{
 border: 1px solid white;
 background-color: white;
 padding: 30px;
 text-align: center;
 }
 .features .container .feat i{
 color: #a68053;
 font-size: 50px;
 }
 .features .container .feat h3{
 font-size: 20px;
 } 
 .features .container .feat p{
 color: #808080;
 font-style: italic;
 font-size: 17px;
 line-height: 1.5;
 }
  /*end features */
  /*start lower */
  .lower{
 padding-top: 60px;
 padding-bottom: 60px;
  }
 .lower   h2{
    text-align: center;
    max-width: 100%;
 }
 .lower   p{ 
    width: 550px;
    margin: 0 auto 50px;
    max-width: 100%;
    line-height: 2;
    color: #777;
    text-align: center;
}
  @media (max-width: 768px) {
    .lower   p {
        width: 200px;
   
    max-width: 100%;
    line-height: 1.5;
    color: #777;
    text-align: center;
    }
  }
  .lower .container{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 grid-gap: 20px;
  }
  
 .lower  .box{
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
 }
 .lower  .box .image{
  position: relative;
  overflow: hidden;
 }
 .lower .box .image::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
 }
 .lower .box .image:hover::before {
  animation: flashing 0.7s;
}
 .lower .box img{
 max-width: 100%;
 transition: 0.5s;
 }
 .lower .box .image:hover img{
  transform: rotate(5deg) scale(1.1);
 }
 .lower .container .box img:hover{
    animation: right-move 0.5s linear forwards;
    transition-delay: 0.5s;
    }
  /*end lower */
  /* start ideas */
  .ideas{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(0,0,0,0.05);
  }
  .ideas .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  .ideas  .text{
 display: flex;
 flex-direction: column;
 text-align: center;
 position: relative;
  }
  .ideas  .text p{
    width: 950px;
    margin: 0 auto 50px;
    max-width: 100%;
    text-align: center;
  }
  @media (max-width: 768px) {
    .ideas  .text p {
    width: 200px;
    }
  }
  .ideas .container .card{
    border: 5px solid transparent;
    display: flex;
    flex-direction: column;
  }
  .ideas .container .card h3{
    font-size: 1.25rem;
    margin: 20px 15px 0;
  }
  @media (max-width: 768px) {
    .ideas .container .card h3 {
    text-align: center;
    }
  }
  .ideas .container .card p{
   width: 218px;
    font-style: italic;
    margin: 20px auto 0;
    color: #808080;
    line-height: 1.4;
  }
  .ideas .btn1 {
    text-align: center;
    margin: 20px auto 0;
  }
  .ideas .btn1 button{
    border: 2px solid #a68053;
    border-radius: 50px;
    padding: 13px;
    color: #808080;
    font-size: 18px;
    width: 10%;
  }
  @media (max-width: 768px) {
    .ideas .btn1 button {
    width: 150px;
    background-color: #a68053;
    color: white;
    }
  }
  .ideas .btn1 button:hover{
    background-color: #a68053;
    color: white;
  }
  /*end ideas */
  /*start special */
  .special{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .special .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  .special .container .box img{
  max-width: 100%;
  }
  .special .container .box .info{
    border: 2px solid #a68053;
    padding: 28px;
  }
  .special .container .box h2{
   font-weight: 500;
  }
  .special .container .box p{
 line-height: 1.2;
  }
  /*end special */
  /* start note */
  .note{
    padding-top: 60px;
    margin-bottom: 50px;
    background-color: rgba(0,0,0,0.05);
  }
  .note .container{
 display: flex;
 justify-content: space-between;
  }
  .note .container .card img{
   max-width: 100%;
  margin: -60px;
  padding-bottom: 60px;
  width: 2300px;
  }
  @media (max-width: 768px) {
    .note .container .card img {
      margin-left: 2px;
    }
  }
  @media (max-width: 768px) {
    .note .container {
    display: flex;
    flex-direction: column;
    } 
  }
  .note .container .card .text p{
    margin-bottom: 30px;
  }
  .note .container .card .text button{
    border: 2px solid #a68053;
    border-radius: 50px;
    padding: 13px;
    color: #808080;
    font-size: 18px;
    width: 35%;
  }
  @media (max-width: 768px) {
    .note .container .card .text button {
      width: 150px;
      background-color: #a68053;
      color: white;
      margin-bottom: 50px;
      }
  }
  .note .container .card .text button:hover{
    background-color: #a68053;
    color: white;
 }
  /*end note*/
  /*start Animation */
 @keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
 /*end Animation */